.footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10%px;
    background-color: #f8f8f8;
    /* position: relative; */
  }
  
  .slogan {
    flex: 1;
    text-align: left;
    font-size: 1.2rem;
  }
  
  .logo {
    /* width: 100px; */
    height: auto;
  }
  