.navbar {
  width: 100%;
}

.navbarNav {
  display: flex;
  align-items: center;
}

.navLink {
  color: white !important;
  margin: 0 10px;
}

@media (max-width: 991px) {
  .navbarCollapse {
    position: fixed;
    top: 56px; /* Adjust this value based on your navbar height */
    left: 0;
    right: 0;
    background-color: black;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%);
  }

  .navbarCollapse.show {
    transform: translateY(0);
  }

  .navbarNav {
    flex-direction: row;
    justify-content: space-around;
  }

  .navLink {
    padding: 10px;
    text-align: center;
  }
}