.container{
    display: flex; 
    width : 100vw ; 
    height : 100vh ; 
    font-family:Arial, Helvetica, sans-serif;
    /* z-index: -1; */
    font-weight:bold;
    /* margin-top: 100%; */
    margin-top: 6%;
    /* justify-content: center; */
    flex-direction: column;
    margin-bottom: 2%;
    /* padding:100px; */
   
}

.productContainer {
    font-size:xx-large;
    display: flex; 
    justify-content: center;
    align-items: center; 
    text-transform: uppercase;
    padding-top:  3%;
    padding: 1%;
    font-family: Helvetica;
    position: relative;
}

.productContainer::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 40%; /* Adjust this value to change the line length */
    height: 3px; /* Adjust this value to change the line thickness */
    background-color: black; /* You can change this to any color you prefer */
    
}
.cardContainer{
    padding: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
.contactButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;  /* 20px was too small, adjusted to a more realistic size */
    height: 80%;  /* 10px was too small, adjusted to a more realistic size */
    
    text-decoration: none;
    font-size: 1vw;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    margin: 5%;
    transition: background-color 0.3s ease;
    color: black;
    /* margin-bottom: 2%; */
    background-color: white; 
    border: 1px solid black;
  }
  
  .contactButton:hover {
    background-color: black;
    color: white;
     /* Slightly lighter black on hover */
    
  }
.cardItem{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column; 
    width:25vw;
    height: 80vh;
    justify-content: center;
    /* height:100vh; */
    border: 1px solid black;
    /* padding: 1rem ; */
}
.cardItemTitle{
    height: 20%;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    padding: 1rem;
    /* font-size: 2.5vw; */
    /* font-weight: 600; */
}
.cardItemDescription{
    font-size: 1.2vw;
    height: 70%;
    width: 100%;
    padding: 1rem;
    font-weight: 300;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
    hyphens:auto ; 
    font-family:Helvetica;
    max-height:100%;
}
@media screen and (max-width: 768px) {
    .cardContainer{
        height: 80vh;
        flex-wrap: wrap;
        flex-flow: wrap;
        gap: 1rem;
        flex-direction: row;
    }
    .cardItem{
        height: 50%;
        width: 40%;
    }
}